.parent{
    -fx-background-color: transparent;
}
.pane{
    -fx-background-color: #2196f3;
}
.white-border-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-color: #ffffff;
}
.blue-panel{
    -fx-background-color: #151928;
}.info-box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
 }
 .info{
     -fx-background-color: transparent;
 }
 .blue-btn{
     -fx-background-color: #2196f3;
     -fx-background-radius: 5px;
     -fx-text-fill: #ffffff;
 }

/* Default: black text for all text fields */
.text-field, .password-field {
    -fx-text-fill: black;
    -fx-prompt-text-fill: #666666;
}

/* Override: if inside a login container */
.login-pane .text-field,
.login-pane .password-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
}

.tooltip {
    -fx-font-size: 8px;
    -fx-padding: 4 8 4 8;
    -fx-background-color: BLUE;
    -fx-text-fill: WHITE;
    -fx-border-color: BLACK;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}
.text-area{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.text-area .content{
    -fx-background-color: transparent;
}

/*.bg-scroll {
    -fx-background-image: url("src/main/resources/com/cboard/marketplace/marketplace_frontend/images/OwlSwapLogo-Transparent.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}*/
